# Credenciais do Webservice da Tokio Marine
# Configurar no Vercel/host: Settings → Environment Variables
TOKIO_USER=02352957-b0e4-49b6-837a-c63bffb3e2fa
TOKIO_PASSWORD=7707cc66-5718-4411-bdbe-041f65905b15
TOKIO_SERVICE_KEY=eyJhbGciOiJIUzUxMiJ9.eyJpYXQiOjE3MTM3OTI3MjMsImp0aSI6IjMyMTg2MDE0In0.e7zHT9v6OAzpcJyuWJbORSbjJBqwyy1O1C99ZLc_Jrce78bbmQrVik6JM9xileey86VJuzm96w75T1g9FuF3oA
